## Import Modules

In [4]:
import requests
import json
import pandas as pd

## All Breeds Endpoint

In [29]:
# call endpoint
url = "https://api.thedogapi.com/v1/breeds"
payload={}
files={}
headers = {
  'Content-Type': 'application/json'
}

response = requests.request("GET", url, headers=headers, data=payload, files=files)

df = pd.read_json(response.text)

In [30]:
# save raw response to csv
df.to_csv('pet_raw.csv', index='False')

In [34]:
df.iloc[[10]]

,weight,height,id,name,bred_for,breed_group,life_span,temperament,origin,reference_image_id,image,country_code,description,history
10,"{'imperial': '30 - 150', 'metric': '14 - 68'}","{'imperial': '14 - 17', 'metric': '36 - 43'}",11,American Bully,Family companion dog,,8 – 15 years,"Strong Willed, Stubborn, Friendly, Clownish, A...",NaN,sqQJDtbpY,"{'id': 'sqQJDtbpY', 'width': 1024, 'height': 6...",US,NaN,NaN

## Individual Breed Endpoint

In [40]:
import requests

url = "https://api.thedogapi.com/v1/breeds/20"
payload={}
files={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload, files=files)

dog = pd.read_json(response.text)

In [41]:
dog

           weight  height  id          name breed_group      life_span
imperial  25 - 70  varies  20  Aussiedoodle       Mixed  10 - 12 years
metric    11 - 32  varies  20  Aussiedoodle       Mixed  10 - 12 years